#header {
  padding: 1rem 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__left {
    width: 12rem;
    height: 8rem;
  }

  &__right {
    width: 2.8rem;
    height: 1.6rem;
    cursor: pointer;
  }
}
